{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lists.css') }}">
{% endblock %}

{% block body %}
    <div id="myModal" class="modal fade bd-example-modal-lg" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <h6 class="modal-subtitle"></h6>
                </div>
                <div class="modal-body">
                </div>
                <div class="map-container">
                    <div id="map"></div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default redirect-button" target="_blank">Więcej Szczegółów</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#trivent">
                    TriVent
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li data-menuanchor="atrivent" class="active"><a href="#trivent">TriVent</a></li>
                    <li data-menuanchor="afeatures"><a href="#features">Funkcje</a></li>
                    <li data-menuanchor="alocation"><a href="#location">Lokalizacja</a></li>
                    <li data-menuanchor="aevents"><a href="#events">Wydarzenia</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div id="full-page">
        <section class="section" data-anchor="trivent">
            <div class="container">
                <div class="subcontainer">
                    <h1 class="headline">TriVent</h1>
                </div>
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                        <h3>Twoje Trójmiasto w jednym miejscu.</h3>
                        <hr>
                    </div>
                </div>
            </div>
        </section>

        <section class="section call-to-action" data-anchor="features">
            <div class="container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                        <h3>Funkcje</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-list-alt glyphicon-large" aria-hidden="true"></span>
                        <h3>Znajdź wydarzenie w Trójmieście</h3>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-random glyphicon-large" aria-hidden="true"></span>
                        <h3>Sprawdź dojazd</h3>
                    </div>
                    <div class="col-md-4">
                        <span class="glyphicon glyphicon-glass glyphicon-large" aria-hidden="true"></span>
                        <h3>Have fun</h3>

                    </div>
                </div>
            </div>
        </section>

        <section class="section flex-center marginbottom" data-anchor="location">
            <div class="container localization-container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                        <h3>Twoja lokalizacja</h3>
                        <hr>
                    </div>
                </div>
                <div class="localization-field">
                    <input id="google-maps-search" class="controls" type="text"
                           placeholder="Szukaj lokalizacji">
                    <div id="google-maps-container"></div>
                </div>
            </div>
        </section>

        <section id="services" class="section call-to-action" data-anchor="events">
            <div class="container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                        <h3>Wydarzenia</h3>
                        <hr>
                    </div>
                </div>
                <div id="pagination-container">
                    {% for activity in pagination %}
                        {% if loop.index is divisible by(3) %}
                            <div class="row" data-anim-type="fade-in-up">
                        {% endif %}
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="services-wrapper modal-button" data-activity-id="{{ activity.id }}">

                                <div><b>{{ activity.title }}</b></div>

                                <div>{{ activity.place }}</div>
                                <div class="comment more">{{ activity.description }}</div>
                            </div>
                        </div>
                        {% if loop.index is divisible by(3) or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="pagination-div">
                {{ knp_pagination_render(pagination) }}
            </div>
        </section>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#full-page').fullpage({
                menu: '#menu',
                easing: 'easeInOutCubic',
                easingcss3: 'ease',
                anchors: ['trivent', 'features', 'location', 'events']
            });
        });
    </script>

    <script>
        function shortenText() {
            var showChar = 100;
            $('.more').each(function () {
                var content = $(this).html();
                if (content.length > showChar) {
                    $(this).html(content.substr(0, showChar) + '...');
                }
            });
        }
        $(document).ready(function () {
            shortenText();
        });
    </script>

    <script>
        var map;
        var currentPositionMarker;
        var geocoder;

        var directionsDisplay;

        function getLatLng() {
            return {
                lat: currentPositionMarker.position.lat(),
                lng: currentPositionMarker.position.lng()
            };
        }

        function calcRoute(orgin, destination) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: orgin,
                destination: destination,
                travelMode: google.maps.TravelMode["DRIVING"]
            };
            directionsService.route(request, function (response, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                }
            });
        }

        function initMap() {

            navigator.geolocation.getCurrentPosition(function (location) {
                var center = {
                    lat: location.coords.latitude,
                    lng: location.coords.longitude
                };

                map = new google.maps.Map(document.getElementById('google-maps-container'), {
                    center: center,
                    zoom: 14,
                    mapTypeId: 'roadmap',
                    styles: [{
                        featureType: "administrative",
                        elementType: "all",
                        stylers: [{visibility: "off"}]
                    }, {
                        featureType: "landscape",
                        elementType: "all",
                        stylers: [{visibility: "simplified"}, {hue: "#0066ff"}, {saturation: 74}, {lightness: 100}]
                    }, {
                        featureType: "poi",
                        elementType: "all",
                        stylers: [{visibility: "simplified"}]
                    }, {
                        featureType: "road",
                        elementType: "all",
                        stylers: [{visibility: "simplified"}]
                    }, {
                        featureType: "road.highway",
                        elementType: "all",
                        stylers: [{visibility: "off"}, {weight: .6}, {saturation: -85}, {lightness: 61}]
                    }, {
                        featureType: "road.highway",
                        elementType: "geometry",
                        stylers: [{visibility: "on"}]
                    }, {
                        featureType: "road.arterial",
                        elementType: "all",
                        stylers: [{visibility: "off"}]
                    }, {
                        featureType: "road.local",
                        elementType: "all",
                        stylers: [{visibility: "on"}]
                    }, {
                        featureType: "transit",
                        elementType: "all",
                        stylers: [{visibility: "simplified"}]
                    }, {
                        featureType: "water",
                        elementType: "all",
                        stylers: [{visibility: "simplified"}, {color: "#5f94ff"}, {lightness: 26}, {gamma: 5.86}]
                    }]
                });

                geocoder = new google.maps.Geocoder();

                var input = document.getElementById('google-maps-search');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP].push(input);

                map.addListener('bounds_changed', function () {
                    searchBox.setBounds(map.getBounds());
                });

                currentPositionMarker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title: 'Twoja lokalizacja.'
                });

                searchBox.addListener('places_changed', function () {
                    var places = searchBox.getPlaces();

                    if (places.length == 0) {
                        return;
                    }

                    var place = places[0];

                    currentPositionMarker.setMap(null);

                    var bounds = new google.maps.LatLngBounds();
                    if (!place.geometry) {
                        return;
                    }

                    currentPositionMarker = new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location
                    });

                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }

                    map.fitBounds(bounds);
                });

                google.maps.event.addListener(map, 'click', function (event) {
                    if (currentPositionMarker) {
                        currentPositionMarker.setMap(null);
                    }

                    currentPositionMarker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: 'Twoja lokalizacja.'
                    });
                });
            });
        }

        $('.modal-button').on('click', function (event) {
            var activityId = $(event.currentTarget).data('activity-id');
            getDetails(activityId);
        });

        function getDetails(id) {
            var url = "{{ path('activity_details', {'id': 'xxx'}) }}";
            url = url.replace('xxx', id);
            $.post(url, function () {

            })
                .done(function (response) {
                    var data = response.data;
                    $('.modal-title').html(data.title);
                    $('.modal-subtitle').html(data.subtitle);
                    $('.modal-body').html(data.description);
                    var routeMap = new google.maps.Map(document.getElementById('map'), {
                        center: getLatLng(),
                        zoom: 5,
                        mapTypeId: 'roadmap',
                        styles: [{
                            featureType: "administrative",
                            elementType: "all",
                            stylers: [{visibility: "off"}]
                        }, {
                            featureType: "landscape",
                            elementType: "all",
                            stylers: [{visibility: "simplified"}, {hue: "#0066ff"}, {saturation: 74}, {lightness: 100}]
                        }, {
                            featureType: "poi",
                            elementType: "all",
                            stylers: [{visibility: "simplified"}]
                        }, {
                            featureType: "road",
                            elementType: "all",
                            stylers: [{visibility: "simplified"}]
                        }, {
                            featureType: "road.highway",
                            elementType: "all",
                            stylers: [{visibility: "off"}, {weight: .6}, {saturation: -85}, {lightness: 61}]
                        }, {
                            featureType: "road.highway",
                            elementType: "geometry",
                            stylers: [{visibility: "on"}]
                        }, {
                            featureType: "road.arterial",
                            elementType: "all",
                            stylers: [{visibility: "off"}]
                        }, {
                            featureType: "road.local",
                            elementType: "all",
                            stylers: [{visibility: "on"}]
                        }, {
                            featureType: "transit",
                            elementType: "all",
                            stylers: [{visibility: "simplified"}]
                        }, {
                            featureType: "water",
                            elementType: "all",
                            stylers: [{visibility: "simplified"}, {color: "#5f94ff"}, {lightness: 26}, {gamma: 5.86}]
                        }]
                    });
                    var service = new google.maps.places.PlacesService(routeMap);
                    directionsDisplay = new google.maps.DirectionsRenderer();
                    directionsDisplay.setMap(routeMap);
                    service.textSearch({
                        query: data.place
                    }, function (places) {
                        if(places.length == 0) {
                            return;
                        }
                        var place = places[0];

                        calcRoute(getLatLng(), place.geometry.location);
                        setTimeout(function () {
                            google.maps.event.trigger(routeMap, 'resize');
                            routeMap.panTo(getLatLng());
                            var bounds = new google.maps.LatLngBounds();
                            bounds.extend(getLatLng());
                            bounds.extend(place.geometry.location);
                            routeMap.fitBounds(bounds);
                        }, 200);
                    });

                    $('#map').trigger('resize');

                    $('.redirect-button').attr('href', data.link);
                    $('#myModal').modal('show');
                });
        }
        // MODAL END
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}
