{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/lists.css') }}">
{% endblock %}

{% block body %}
    <section id="title-section">
        <div class="container">
            <div style="text-align: center;">
                <h1 style="display: inline-block;" class="headline">TriVent</h1>
            </div>
            <div class="row text-center header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                    <h3>Twoje Trójmiasto w jednym miejscu.</h3>
                    <hr>
                </div>
            </div>
        </div>
    </section>

    <section class="call-to-action">
        <div class="container">
            <div class="row text-center header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                    <h3>Funkcje</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                    <span class="glyphicon glyphicon-list-alt glyphicon-large" aria-hidden="true"></span>
                    <h3>Znajdz wydarzenie w Trójmieście</h3>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-random glyphicon-large" aria-hidden="true"></span>
                    <h3>Sprawdz najprostszy dojazd</h3>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-glass glyphicon-large" aria-hidden="true"></span>
                    <h3>Have fun</h3>

                </div>
            </div>
        </div>
    </section>

    <section class="flex-center marginbottom">
        <div class="container" style="text-align: center;">
            <div class="row text-center header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                    <h3>Twoja lokalizacja</h3>
                    <hr>
                </div>
            </div>
            <div style="display: inline-block;">
                <input style="color: #4c4c4c;" id="google-maps-search" class="controls" type="text"
                       placeholder="Szukaj lokalizacji">
                <div style="height: 500px !important; width: 500px;" id="google-maps-container"></div>
            </div>
        </div>
    </section>

    <section id="services" class="call-to-action">
        <div class="container">
            <div class="row text-center header">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-anim-type="fade-in-up">
                    <h3>Wydarzenia</h3>
                    <hr>
                </div>
            </div>
            <div id="pagination-container">
                {% for activity in pagination %}
                    {% if loop.index is divisible by(3) %}
                        <div class="row" data-anim-type="fade-in-up">
                    {% endif %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper modal-button" data-activity-id="{{ activity.id }}">

                            <div>Tytuł: {{ activity.title }}</div>
                            {% if not activity.dateFrom %}
                                <div>-</div>
                            {% elseif activity.dateTo %}
                                <div>Data: {{ activity.dateFrom|date('Y-m-d G:i') }}
                                    - {{ activity.dateTo|date('Y-m-d G:i') }}</div>
                            {% else %}
                                <div>Data: {{ activity.dateFrom|date('Y-m-d G:i') }}</div>
                            {% endif %}
                            <div>{{ activity.place }}</div>
                            <div class="comment more">{{ activity.description }}</div>
                        </div>
                    </div>
                    {% if loop.index is divisible by(3) or loop.last %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="pagination-div">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>

    <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <h6 class="modal-subtitle"></h6>
                </div>
                <div class="modal-body">
                </div>
                <div class="map">

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary redirect-button" target="_blank">Przejdź do portalu
                        trójmiasto</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="container">
            <span class="text-muted">3CT Hack 2017.</span>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        function shortenText() {
            var showChar = 100;
            $('.more').each(function () {
                var content = $(this).html();
                if (content.length > showChar) {
                    $(this).html(content.substr(0, showChar) + '...');
                }
            });
        }
        $(document).ready(function () {
            shortenText();
        });
    </script>

    <script>
        var map;
        var currentPositionMarker;
        var geocoder;

        var directionsDisplay;

        function getLatLng() {
            return {
                lat: currentPositionMarker.position.lat(),
                lng: currentPositionMarker.position.lng()
            };
        }

        function calcRoute(orgin, destination) {
            var directionsService = new google.maps.DirectionsService();
            var request = {
                origin: orgin,
                destination: destination,
                travelMode: google.maps.TravelMode["DRIVING"]
            };
            directionsService.route(request, function (response, status) {
                if (status == 'OK') {
                    directionsDisplay.setDirections(response);
                }
            });
        }

        function initMap() {

            navigator.geolocation.getCurrentPosition(function (location) {
                directionsDisplay = new google.maps.DirectionsRenderer();
                var center = {
                    lat: location.coords.latitude,
                    lng: location.coords.longitude
                };

                map = new google.maps.Map(document.getElementById('google-maps-container'), {
                    center: center,
                    zoom: 8,
                    mapTypeId: 'roadmap'
                });
                directionsDisplay.setMap(map);

                geocoder = new google.maps.Geocoder();

                var input = document.getElementById('google-maps-search');
                var searchBox = new google.maps.places.SearchBox(input);
                map.controls[google.maps.ControlPosition.TOP].push(input);

                map.addListener('bounds_changed', function () {
                    searchBox.setBounds(map.getBounds());
                });

                currentPositionMarker = new google.maps.Marker({
                    position: center,
                    map: map,
                    title: 'Twoja lokalizacja.'
                });

                searchBox.addListener('places_changed', function () {
                    var places = searchBox.getPlaces();

                    if (places.length == 0) {
                        return;
                    }

                    var place = places[0];

                    currentPositionMarker.setMap(null);

                    var bounds = new google.maps.LatLngBounds();
                    if (!place.geometry) {
                        return;
                    }

                    currentPositionMarker = new google.maps.Marker({
                        map: map,
                        title: place.name,
                        position: place.geometry.location
                    });

                    if (place.geometry.viewport) {
                        bounds.union(place.geometry.viewport);
                    } else {
                        bounds.extend(place.geometry.location);
                    }

                    map.fitBounds(bounds);
                });

                google.maps.event.addListener(map, 'click', function (event) {
                    if (currentPositionMarker) {
                        currentPositionMarker.setMap(null);
                        calcRoute(event.latLng, {
                            lat: 54.236340214413424,
                            lng: 18.424072265625
                        });
                    }

                    currentPositionMarker = new google.maps.Marker({
                        position: event.latLng,
                        map: map,
                        title: 'Twoja lokalizacja.'
                    });
                });
            });
        }

        // MODAL
        $('.modal-button').on('click', function (event) {
            var activityId = $(event.currentTarget).data('activity-id');
            getDetails(activityId);
        });

        function getDetails(id) {
            var url = "{{ path('activity_details', {'id': 'xxx'}) }}";
            url = url.replace('xxx', id);
            $.post(url, function () {

            })
                .done(function (response) {
                    var data = response.data;
                    $('.modal-title').html(data.title);
                    $('.modal-subtitle').html(data.subtitle);
                    $('.modal-body').html(data.description);
                    $('.redirect-button').attr('href', data.link);
                    $('#myModal').modal('show');
                });
        }
        // MODAL END
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places&callback=initMap"
            async defer></script>
{% endblock %}
