{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/lists.css') }}">
{% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container">
            <h1 class="headline">TriVent</h1>
            <p>Twoje Trojmiasto w jednym miejscu</p>
            <br>
        </div>
    </div>

    <section class="call-to-action">
        <div class="container">
            <div class="row pagination-container">
                {% for activity in pagination %}
                    <div class="col-md-4 marginbottom">
                        <div>Tytuł: {{ activity.title }}</div>
                        {% if not activity.dateFrom %}
                            <div>-</div>
                        {% elseif activity.dateTo %}
                            <div>Data: {{ activity.dateFrom|date('Y-m-d G:i') }} - {{ activity.dateTo|date('Y-m-d G:i') }}</div>
                        {% else %}
                            <div>Data: {{ activity.dateFrom|date('Y-m-d G:i') }}</div>
                        {% endif %}
                        <div>{{ activity.place }}</div>
                        <div class="comment more">{{ activity.description }}</div>
                        <p><a class="navbar-brand modal-button" href="#" data-activity-id="{{ activity.id }}"><span class="glyphicon glyphicon-chevron-right"
                                                                  aria-hidden="true"></span> View details </a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>

    <div id="myModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <h6 class="modal-subtitle"></h6>
                </div>
                <div class="modal-body">
                </div>
                <div class="map">

                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-secondary redirect-button" target="_blank">Przejdź do portalu trójmiasto</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <span class="text-muted">3CT Hack 2017.</span>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        function shortenText() {
            var showChar = 150;
            $('.more').each(function() {
                var content = $(this).html();
                if(content.length > showChar) {
                    $(this).html(content.substr(0, showChar) + '...');
                }
            });
        }
        $(document).ready(function() {
            shortenText();
        });

        $('.modal-button').on('click', function (event) {
            var activityId = $(event.currentTarget).data('activity-id');
            getDetails(activityId);
        });

        function getDetails(id) {
            var url = "{{ path('activity_details', {'id': 'xxx'}) }}";
            url = url.replace('xxx', id);
            $.post(url, function () {

            })
            .done(function (response) {
                var data = response.data;
                $('.modal-title').html(data.title);
                $('.modal-subtitle').html(data.subtitle);
                $('.modal-body').html(data.description);
                $('.redirect-button').attr('href', data.link);
                $('#myModal').modal('show');
            });
        }
    </script>
{% endblock %}
