{% if pageCount > 1 %}
    <div class="pagination">
        {% if first is defined and current != first %}
            <span class="first">
            <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): first})) }}')">&lt;&lt;</a>
        </span>
        {% endif %}

        {% if previous is defined %}
            <span class="previous">
            <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): previous})) }}')">&lt;</a>
        </span>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <span class="page">
                <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): page})) }}')">{{ page }}</a>
            </span>
            {% else %}
                <span class="current">{{ page }}</span>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <span class="next">
            <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): next})) }}')">&gt;</a>
        </span>
        {% endif %}

        {% if last is defined and current != last %}
            <span class="last">
            <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): last})) }}')">&gt;&gt;</a>
        </span>
        {% endif %}
    </div>
{% endif %}

<script>
    function paginate(url) {
        $.post(url, {}, function (response) {
            console.log(response);
            $('.navigation').html(response['pagination_widget']);
            $('.pagination-container').html(response['list']);
        });
    }
</script>
