{% if pageCount > 1 %}
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">

                {% if first is defined and current != first %}
                    <li>
                        <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): first})) }}')">&lt;&lt;</a>
                    </li>
                {% endif %}

                {% if previous is defined %}
                    <li>
                        <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): previous})) }}')">&lt;</a>
                    </li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li>
                            <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): page})) }}')">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="active">
                            <a>{{ page }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if next is defined %}
                    <li>
                        <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): next})) }}')">&gt;</a>
                    </li>
                {% endif %}

                {% if last is defined and current != last %}
                    <li>
                        <a onclick="paginate('{{ path('default_paginate', query|merge({(pageParameterName): last})) }}')">&gt;&gt;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endif %}

<script>
    function paginate(url) {
        $.post(url, {}, function (response) {
            $('#pagination-div').html(response['pagination_widget']);
            $('#pagination-container').html(response['list']);
        });
    }
</script>
